@import "./map.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] {
    display: none;
}
html, body {
    margin:0; /* remove default margin */
    padding:0; /* remove default padding */
    width:100%; /* take full browser width */
    height:100%; /* take full browser height*/
}
/* remove arrow input number */
input[type=number]::-webkit-inner-spin-button{
    display: none;
}
[x-cloak] {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
select{
    -webkit-appearance: none;
  padding: 0.1em 1.3em 0.1em 0.4em;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 1em;
  background-image: none; 
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.select2-div.select2-selection__rendered {
    line-height: 43px !important;
    border: none !important;
}

.select2-div.select2-container .select2-div.select2-selection--single {
    height: 43px !important;
}

.select2-div.select2-selection__arrow {
    height: 43px !important;
}

.select2-div.select2-selection {
    height: 43px !important;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
*::-webkit-scrollbar {
    width: 2px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #9E3216;
}
.colored-toast.swal2-icon-success {
    background-color: #43821e !important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #c83c3c !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #c78042 !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #26809e !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #255d75 !important;
  }
  
  .colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }
  